
:host {
  height: 100%;
  min-height: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
}

.share-layout {
  display: flex;
  height: 100%;
  min-height: 0;

  &__menu {
    background: #024F38;
    width: 67px;
  }

  &__content-layout {
    display: flex;
    height: 100%;
    min-height: 0;

    width: calc(100% - 67px);
    //background: #E0E0E0;
    background: rgba(242, 242, 242, 0.7);

    overflow: hidden;
  }

}
