:host {
    display: flex;
    background-color: #ffffff;
}
.filter__bth {
    display: block;

    padding-top: 8px;
    padding-bottom: 8px;
    width: 50%;
    text-align: center;

    background: #EBE9E9;
    border-radius: 2px 0px 0px 2px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 13px;
    text-align: center;
    letter-spacing: 0.02em;

    color: #4F4F4F;

    cursor: pointer;

    &--active {
        background: #219653;
        color: #FFFFFF;
        cursor: not-allowed;
        user-select: none;
    }
}