
:host {
  position: relative;
  top: -2px;
}
.priority {
  padding: 3px;
  background: #FF334B;
  color: #FFFFFF;

  border-radius: 2px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 10px;
  text-align: center;
  letter-spacing: 0.015em;
  text-transform: uppercase;

  &--high {
    background: #FF334B;
    color: #FFFFFF;
  }

  &--low {
    background: #E0E0E0;
    color: #333333;
    opacity: 0.5;
  }
}