.person {
  display: flex;
  align-items: center;

  &__photo {
    margin-left: 5px;
    margin-right: 10px;
  }

  &__desc {
    display: flex;
    align-items: start;
    flex-direction: column;

  }

  &__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    letter-spacing: 0.0025em;

    /* черный */
    color: #000000;
  }

  &__position {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 12px;
    letter-spacing: 0.0025em;

    /* темно серый */
    color: #4F4F4F;
  }
}