<div class="main-nav">
    <div class="main-nav__list">
        <a class="main-nav__item">
            <div class="g-icons g-icons--plates"></div>
        </a>
        <a class="main-nav__item"
            [routerLink]="['/', 'conversations']"
            routerLinkActive="conversation-menu__item--active"
            pTooltip="Переговоры"
            tooltipPosition="right"
        >
            <div class="g-icons g-icons--conversation"></div>
        </a>
        <a class="main-nav__item">
            <div class="g-icons g-icons--actions"></div>
        </a>
        <a class="main-nav__item">
            <div class="g-icons g-icons--attach"></div>
        </a>
        <a class="main-nav__item">
            <div class="g-icons g-icons--people"></div>
        </a>
        <a class="main-nav__item">
            <div class="g-icons g-icons--graph"></div>
        </a>
        <a class="main-nav__item">
            <div class="g-icons g-icons--ready"></div>
        </a>
    </div>
    <ul class="main-nav__list">
        <li class="main-nav__item">
            <div class="g-icons g-icons--ready-circle"></div>
        </li>
        <li class="main-nav__item">
            <div class="g-icons g-icons--docs"></div>
        </li>
        <li class="main-nav__item">
            <div class="g-icons g-icons--cube"></div>
        </li>
        <li class="main-nav__item">
            <div class="g-icons g-icons--search">
                <i class="material-icons">
                    search
                </i>
            </div>
        </li>
    </ul>
</div>